<div class="rwo">
    <div class="col-xs-12">
        <form formGroup="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                        type="email"
                        id="email"
                        formControlName="email"  
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="password">Password</label>
                    <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="tasks">
                    <div 
                    class="row"
                    *ngFor="let taskCtrl of userForm.get('tasks')['controls']; let i = index" 
                    [formGroupName]="i"
                    style="margin-top: 10px;">
                    <div class="col-xs-11">
                        <input
                        type="text"
                        class="form-control"
                        formControlName="task">
                    </div>
                    <div class="col-xs-10">
                        <select 
                    name="type of status" 
                    size="no-of-status"
                    class="form-control"
                    formControlName="status"
                    name="status"
                    ngModel
                    required>
                        <option>Completed</option>
                        <option>Processing</option>
                        <option>Terminated</option>
                    </select>
                    </div>
                    <div class="col-xs-10">
                        <input
                        type="boolean"
                        class="form-control"
                        formControlName="done">
                    </div>
                    
                    </div>
                   <hr>
                   <div class="row">
                       <div class="col-xs-12">
                           <button
                           type="button"
                           class="btn btn-success"
                           (click)="onAddTask()">Add Task</button>
                       </div>
                   </div>
                </div>
            </div>
        </form>
</div>
</div>